

@import "tailwindcss";
@plugin "daisyui";

.theme-bg-dark {
    @apply bg-gray-900;
}

.theme-accent-text {
    @apply text-emerald-400;
}

.theme-secondary-text {
    @apply text-yellow-400;
}

.theme-text-light {
    @apply text-gray-400;
}